```
python3 hw_1/nl.py hw_1/artifacts/test2.txt
    1  Написать
    2  упрощенный
    3  вариант
    4  утилиты
    5  `tail`
    6  -- скрипт,
    7  выводящий
    8  в `stdout`
    9  последние
   10  10 строк
   11  каждого
   12  из
   13  переданных файлов.
```

```
python3 hw_1/nl.py 
sdf
    1  sdf
sdf
    2  sdf
e
    3  e
g
    4  g
njy
    5  njy
tg
    6  tg
dxfg 
    7  dxfg
fdg  g
    8  fdg  g
```